---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1 style="color:#ecbb40;">{{ site.title }}</h1>
            {% if site.description %}
            <span class="subheading">{{ site.description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {{ content }}

        <!-- Home Post List -->
        {% for post in site.posts limit : 5 %}

        <article class="post-preview">
          <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
            <h2 class="post-title">{{ post.title }}</h2>
            {% if post.subtitle %}
            <h3 class="post-subtitle">{{ post.subtitle }}</h3>
            {% else %}
            <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</h3>
            {% endif %}
          </a>
          <p class="post-meta">Posted by
            {% if post.author %}
            {{ post.author }}
            {% else %}
            {{ site.author }}
            {% endif %}
            on
            {{ post.date | date: '%B %d, %Y' }} &middot; {% include read_time.html content=post.content %}            
          </p>
        </article>

        <hr>

        {% endfor %}
	
	<h1><center><b>Latest News/Notices</b></center></h1>
<br>

<h2 style ="padding: 10px; border: 2px solid #ecbb40"
>Club Fair On Friday 9/30!</h2></b>
     <p style="padding: 10px; color:#ecbb40; border: 2px solid #ecbb40">This coming Friday the Aerospace Club will be at club fair! Come check it out and join the team!<br><br>Fill out the google form below if you are interested!<br><br><a style="color:#ecbb40" href="https://forms.gle/xWUExnFF7k1gZ2iWA">Click Here To Sign Up Today!</a> </p> 
<h2 style ="padding: 10px; border: 2px solid #ecbb40; color:#ecbb40"
>Club Meetings Will Be Held Every Wednesday From 3:30 - 5:00!</h2></b> 
     <p style="padding: 10px; border: 2px solid #ecbb40; color:#ecbb40;">More information about the meetings will be explained at the club fair :) </p>
<head>
  <style>
  {
	box-sizing: border-box;
  }
.column 
{
float: left;
width: 59%
}
.left {
wicth: 50%
}

.right {
width. 50%
}

</style>
</head>
	<div class="row">
	  <div class="column left">
	    <div style="float: left position: relative; left:30px">
	     <h3><center>Our Members</center></h3>
		<p style="font-size=4px;"><center>Vidushi Meel
<br>Asritha Bodepudi<br>Nagamitesh Nagamuralee<br>Rohan Bandaru<br>Sathvik Appana<br>Saahil Patnaik<br>Aditi Swamy<br>Yash Shastri<br>Reja Haddad<br>Thomas Jureidini<br>Ronit Prasad<br>Sishir Mahavadi<br>Hansraj Kshatriya<br>Ram Godbole<br>Amanda Wang<br>Daniel Carreno<br>Mihir Banka<br> Yul Kim <br> Patrick Hwang <br> Sreehitha Bodepudi <br> Tate Scarbrough <br> Shalin Sinha <br> Mattheiu Boin <br> Silver Wang <br> Akhilesh Sangaraju <br> </center></p>
	 </div> </div>
	<div class="row"> 
	  <div class="column right">
	    <div style="float: right">
	     <h3><center>Our Sponsors</center></h3>
		<p><center><img src="images/TARC_sponsor.png" width="150px"><br><br><br><img src="images/empowstudios_sponsor.png" width ="150px">
<br><br>
<h3>Contact Info</h3>
         lhsaerospacerobotics<br>@gmail.com
                <br><br>You may also ask a club member <br> if you would like <br>to enter our Discord <br> server. Either way we will answer <br> your questions as<br>  soon as possible.</center></p>
</div> </div> </div> </div>
